.Content {
  /* border: 1px solid green; */
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 0.75);
  /* font-weight: bold; */
}

pre.command {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre.err {
  color: #c3707d;
}

pre.ok {
  color: #6ca27c;
}
